.container{
    height: 100%;
}

.pagination{
    margin: 3rem auto;
    width: 90%;
    max-width: 40rem;
    padding: 5rem;
    background-color: black;
    color: white;
    height: 80%;
}
.pagination ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.pagination li{
    padding: 1rem;
}
.numbers{
    margin-top: 0;
    margin: 0% auto;
    width: 90%;
    max-width: 40rem;
    padding: 0 5rem;
}
.numbers{
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin-top: 0;
}
.numbers li{
    padding: 2rem;
    border: 1px solid red;
    cursor: pointer;
}
.active{
    background-color: green;
    color: yellow;
}
button{
    padding: 2rem;
}
.hidden{
    display: none;
}